@model Movie

<h2>ویرایش فیلم</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<form asp-action="Edit" asp-controller="Movie" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label">عکس</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">نام کامل</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">توضیحات</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Cinema.Name" class="form-label">نام سینما</label>
        <input asp-for="Cinema.Name" class="form-control" />
        <span asp-validation-for="Cinema.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MovieCategory" class="form-label">ژانر فیلم</label>
        <input asp-for="MovieCategory" class="form-control" />
        <span asp-validation-for="MovieCategory" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">مبلغ</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-action="Edit" asp-controller="Movie">ذخیره تغییرات</button>
    <a asp-action="Index" asp-controller="Actors" class="btn btn-secondary">لغو</a>
</form>
